[tool.black]
line-length = 120

[tool.isort]
profile = "black"
line_length = 120
skip_gitignore = true

[tool.ruff]
line-length = 120
per-file-ignores = {"yq/__init__.py" = ["F401"]}

[[tool.mypy.overrides]]
module = "argcomplete.*"
ignore_missing_imports = true
