name: Test suite

on: [push, pull_request]

jobs:
  unit_tests:
    runs-on: ${{matrix.os}}
    strategy:
      max-parallel: 8
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-12]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{matrix.python-version}}
    - name: Install jq
      run: |
        if [[ $(uname) == Linux ]]; then sudo apt-get install --yes jq; fi
        if [[ $(uname) == Darwin ]]; then brew install jq; fi
    - run: make install
    - run: make lint
    - run: make test
    - uses: codecov/codecov-action@v3
  black:
    runs-on: ubuntu-22.04
    steps:
      - uses: psf/black@stable
  isort:
    runs-on: ubuntu-22.04
    steps:
      - uses: isort/isort-action@v1.1.0
