name: Test suite

on: [push, pull_request]

jobs:
  unit_tests:
    runs-on: ${{matrix.os}}
    strategy:
      max-parallel: 8
      matrix:
        os: [ubuntu-22.04, ubuntu-latest, macos-14, macos-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{matrix.python-version}}
    - name: Install jq
      run: |
        if [[ $(uname) == Linux ]]; then sudo apt-get install --yes jq; fi
        if [[ $(uname) == Darwin ]]; then brew install jq; fi
    - run: make install
    - if: ${{matrix.python-version == '3.14'}}
      run: make lint
    - run: make test
    - uses: codecov/codecov-action@v5
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
      - uses: astral-sh/ruff-action@v3
        with:
          args: "format --check"
